@media (max-width: 2500px){
  .responsive-icon{
    display: none;
}
/* タブレット向けレイアウト */
@media (max-width: 1025px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
    .top-wrapper h1{
    font-size:32px;
  }
  .heading h2{
    font-size:20px;
  }
}
@media (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
    .top-wrapper h1{
    font-size:32px;
  }
  .heading h2{
    font-size:20px;
  }
/*Works*/
  .works{
    width: 50%;
    clear:left;
    float: none;
    margin-top: 30px;
  }
}
/* スマホ向けレイアウト */

@media (max-width: 670px) {
  html{
    height: auto;
  }
  .lesson {
    width: 100%;
  }
  body{
    height: auto;
  }
  footer {
    text-align: center;
    height: 66px;
  }
  .logo{
    width: 40%;
  }
  .btn {
    width: 100%;
    text-align: center;
  }
  .facebook {
    margin-bottom: 10px;
  }
  .top-wrapper {
    text-align: left;
  }
  .top-title h1{
    font-size:50px;
    text-align: center;
    margin: 0;
  }
  .top-title{
    margin-bottom:25px;
  }
  .sub-title{
    margin-top: 15px;
  }
  .sub-title h2{
    font-size:20px;
    margin:0;
  }
  .heading h2{
    font-size:25px;
  }
  .btn-wrapper p{
    text-align: center;
  }
  .footer-logo{
    width: 50px;
    float: left;
    margin-top: 10px;
  }

  /*Contact*/
  .section-title{
    width: auto;
  }
  .contact-form input{
    width: auto;
  }
  .contact-form textarea{
    width: auto;
  }
  /*prof*/
  .prof-img{
    width: 50%;
    float: none;
    margin: auto;
  }
  .prof-text{
    width: 80%;
    clear:left;
    float: none;
  }
 br{
   display: none;
 }
 .prof2-text{
   margin:auto;
 }
 /*Works*/
 .works{
   width: 80%;
   clear:left;
   float: none;
   margin-top: 30px;
 }
 .pic-top-wrapper h1{
   font-size: 50px;
 }
.title-wrapper h2{
  font-size: 30px;
}
.title-wrapper h3{
  font-size: 15px;
}
 /*特設ページ*/
 .tokusetu-wrapper h2{
   font-size:20px;
 }
   .tokusetu-wrapper h1{
  font-size:30px;
 }
}
